.container {
  height: 60px;
  width: 100%;
  display: block;
  position: fixed;
  background-color: #435bd0;
  z-index: 100;
}

.menu {
  display: inline-block;
  position: relative;
  width: 600px;
  left: calc(50% - 300px);

  & a {
    text-align: center;
    line-height: 60px;
    font-size: 1.3em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 150px;

    &:hover {
      background-color: #34479c;
    }
  }
}


.exit {
  display: inline-block;
  position: fixed;
  right: 0;
  text-align: center;
  line-height: 60px;
  font-size: 1.3em;
  text-decoration: none;
  color: white;
  width: 150px;

  &:hover {
    background-color: #34479c;
  }
}