.container {
  display: block;
  position: absolute;
  width: 600px;
  height: 400px;
  left: calc(50% - 300px);
  top: calc(50% - 200px);
  border: 2px solid #435bd0;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(111, 111, 111, .5);
}

.title {
  font-size: 1.7em;
  text-align: center;
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
}

.description {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
}

.inpt {
  display: block;
  position: relative;
  width: 300px;
  left: calc(50% - 150px);
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #cccccc;
  background: #ffffff !important;
  outline: none;
  color: #70737c;
  font-size: 16px;
  padding-left: 5px;
}

.login {
  margin-top: 20px;
  display: block;
  position: relative;
  width: 150px;
  left: calc(50% - 75px);
  outline: none;
  background-color: #5d93e6;
  color: white;
  border: none;
  height: 30px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #435bd0;
  }
}

.register {
  display: block;
  position: relative;
  width: 150px;
  text-align: center;
  left: calc(50% - 75px);
  color: #113;
  margin-top: 15px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
}

.form-input__error {
  border: 1px solid red;
}

.err {
  margin-top: 10px;
  display: block;
  font-size: 1.1em;
  color: red;
  text-align: center;
}

.load {
  display: block;
  position: absolute;
  border-radius: 8px;
  width: 600px;
  height: 400px;
  left: calc(50% - 300px);
  top: calc(50% - 200px);
  z-index: 10;
  background: rgba(0, 0, 0, .6) url("./images/spinner.svg") no-repeat center;
}